body {
background-color:rgb(41, 18, 18);
margin:0;
padding:0%;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif
}

.card-header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:lighter;
    font-size: large
}
.card-body {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: xx-large
}
.carousel-caption, h5 {
    font-weight: lighter;
    font-size: xlarge;
    font-family: Arial, Helvetica, sans-serif;
}

.cart {
    color:rgb(31, 220, 63);
    display: flex;
    align-items: end;
    justify-content: end;
    
}